<div class="jumbotron mb-0" style="background: url(https://cdn.pixabay.com/photo/2017/09/28/08/31/letters-2794672_960_720.jpg) no-repeat ; background-size : 100%; background-position: 50% 50%;">
  <div class="container" style="background-color: rgba(255, 255, 255, 0.6); padding-bottom: 30px; border-radius: 15px;">
    <h1 class="display-4 text-center">Bit-Mail</h1>
    <h3 class="text-center">La boîte mail pour ceux qui se sentent seuls.</h3>
    <div class="col-md-3 offset-md-4 mb-5 mt-5">
    <%= button_to 'Recevoir un email', emails_path, class: "btn btn-success btn-lg", remote: true%>
    </div>
  </div>
</div>


